<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CSE464proj.blood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blood">
        <activity
            android:name="com.CSE464proj.blood.notification.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name="com.CSE464proj.blood.email.SentemailActivity"
            android:exported="true" />
        <activity
            android:name="com.CSE464proj.blood.group.CategorySelectedActivity"
            android:exported="true" />
        <activity
            android:name="com.CSE464proj.blood.profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.auth.RecipientRegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.auth.DonorRegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.auth.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.CSE464proj.blood.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>